.main {
    background: black;
    color: white;
    font-family: monospace;
}

body {
    background: black;
}

.body {
    margin-left: 20px;
    margin-right: 20px;
}

.imagerow {
    display: flex;
    justify-content: center;
}

.certificationImage {
    width: 200px; 
    height: 200px;
    margin: 10px;
}

.profileImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px;
}

.intro {
    display: flex;
    justify-content: center;
}

.introTextDescription {
    font-size: 14px;
}

.introText {
    width: 400px;
}
