body {
  margin: 0;
  padding: 0;
  background: #E9E9E9; 
  background-image: url('../images/grid.svg');
  background-attachment: fixed;
}

a {
  text-decoration: none;;
}

a:link {
  color: #49536e;
}

a:visited {
  color: #7484af;
}

/****************   Nav Section **********************/
nav {
  background-color: #1E2A38;	
  color: white;
  box-shadow: 0px 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/***********************  Footer Section   **************************/
footer {
  background-color: #1E2A38;	
  /*
  box-shadow: 0 2px 5px,
              0 -2px 5px;
  */
  display: flex;
  justify-content: center;
  outline: solid grey 1px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/*********** Splash Page ************************/
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

header {
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px; 
  color:#7484af;
}

header img {
  border-radius: 2px;
  box-shadow: 2px 2px 3px;
  border-color: grey;
}

.address {
  margin-left: 2%;
  color: #494746;
}

.tagline {
  color: #494746;
  margin-left: 5%;
}

/************* Sections ********************/
hr {
    height: 3px;
    color: #494746;
    background: #494746;
    font-size: 0;
    border: 0;
}

section {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

section h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7484af;
  margin-left: 10px;
}

section dl {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-left: 5%;
}

section ul {
  list-style-type: square;
}

section a {
  text-decoration: none;
  color: #49536e; 
}

section a:hover {
  cursor: crosshair;
  color: #7484af;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;	
}

.card img {
  width: 100px;
  height: 100px;
}

.card {
  display: flex;
  flex-direction: column;  
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;	
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-section {
  margin: 20px;
}

::placeholder {
    color: white;
}

input {
  width: 40%;
  padding: 5px;
  background-color: #7484af;
  color: white;
  border-radius: 2px;
}

textarea {
  width: 40%;
  padding: 5px;
  background-color: #7484af;
  color: white;
  border-radius: 2px;
  max-width: 40%;
}

